In [1]:
import ibm_db
import pandas as pd

# Replace these values with your own database connection information
database_host = "c-db2oltp-1695206020177181-db2u-engn-svc"
database_port = "50000"
database_name = "BLUDB"
user = "ckroustalis"
password = "predicta1!"


# Construct the connection string
conn_str = f"DATABASE={database_name};HOSTNAME={database_host};PORT={database_port};UID={user};PWD={password};"

try:
    # Establish the database connection
    conn = ibm_db.connect(conn_str, "", "")

    if conn:
        sql_query = "SELECT * FROM DB2INST1.CUSTOMER LIMIT 10"
        stmt = ibm_db.exec_immediate(conn, sql_query)

        # Fetch column names
        col_names = [ibm_db.field_name(stmt, i) for i in range(ibm_db.num_fields(stmt))]

        # Fetch rows
        rows = []
        while ibm_db.fetch_row(stmt):
            row = [ibm_db.result(stmt, i) for i in range(ibm_db.num_fields(stmt))]
            rows.append(row)

        # Create a Pandas DataFrame
        df = pd.DataFrame(rows, columns=col_names)

        # Print the DataFrame or perform further operations with it
        print (df)
        from project_lib import Project
        project = Project(project_id = 'be25fa40-e354-4dbf-96a3-5e9a80976251', project_access_token= '')
        project.save_data(data=df.to_csv(index=False),file_name='SQL_Notebook_Data_Prep.csv',overwrite=True)

except Exception as e:
    print(f"Error: {e}")
finally:
    # Close the database connection
    if conn:
        ibm_db.close(conn)

   CUSTOMER_ID  LOYALTY_NBR FIRST_NAME   LAST_NAME      CUSTOMER_NAME  \
0      1016553       334658    Jeffery       Karol      Jeffery Karol
1      1016362       331992       Karl   Touchette     Karl Touchette
2      1016364       331997     Sherri      Dossie      Sherri Dossie
3      1016366       332006     Kelsie  Thammavong  Kelsie Thammavong
4      1016368       332036    Alfonso    Whitcome   Alfonso Whitcome
5      1016371       332060    Donnell    Kautzman   Donnell Kautzman
6      1016373       332077   Stephani       Haran     Stephani Haran
7      1016375       332153    Rochell      Choice     Rochell Choice
8      1016377       332175       Meri    Giovinco      Meri Giovinco
9      1016379       332187     Gerald        Lona        Gerald Lona

          COUNTRY           STATE_NAME STATE_CODE         CITY   LATITUDE  \
0   United States             Colorado         CO       Denver  39.739236
1          Canada               Quebec         QC     Montreal  45.501689
2  United Kingdom        West Midlands         LZ   Birmingham  52.486243
3         Germany  Nordrhein-Westfalen         NW   Dusseldorf  51.227741
4         Germany               Hessen         HE    Frankfurt  50.110922
5   United States             Colorado         CO      Boulder  40.014986
6          Canada              Ontario         ON  Thunder Bay  48.380895
7   United States              Florida         FL        Miami  25.761680
8          Canada              Ontario         ON      Toronto  43.653226
9  United Kingdom    Brighton and Hove         JI   Eley Drive  50.816015

   ...  POSTAL_CODE  GENDER EDUCATION LOCATION_CODE INCOME  MARITAL_STATUS  \
0  ...        80287    male   College         Urban      0          Single
1  ...      H4G 3T4  female   College         Rural      0         Married
2  ...       B2 4LS  female    Doctor         Rural  21986        Divorced
3  ...        40595    male  Bachelor         Rural  29195        Divorced
4  ...        60320    male  Bachelor      Suburban  20757          Single
5  ...        80332  female    Doctor      Suburban  19851         Married
6  ...      K8T 5M5  female  Bachelor      Suburban  46897         Married
7  ...        33168    male  Bachelor         Rural  62566         Married
8  ...      P1W 1K4    male   College         Rural      0          Single
9  ...      BN2 7FG    male  Bachelor         Rural  60120         Married

  CREDIT_CARD_TYPE CREDIT_CARD_NUMBER CREDIT_CARD_CVV  CREDIT_CARD_EXPIRY
0             AMEX    371023766809944            1991          1970-07-22
1             AMEX    370280550682801             550          1970-08-22
2             AMEX    370110283268596            3996          1970-05-22
3             AMEX    370357156357655            6822          1970-01-22
4             AMEX    370092001308054            1287          1970-08-22
5             AMEX    370183987691785            2854          1970-05-22
6             AMEX    370098473005649            8879          1970-10-22
7             AMEX    370115969597630            5969          1970-05-22
8             AMEX    370598083935135            1443          1970-06-22
9             AMEX    370134787278257            2212          1970-10-22

[10 rows x 21 columns]